@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--very-light-gray);
}

.column-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.column-image__sedans {
    width: 45px;
    height: 30px;
    margin: 20px 0 20px 0;
}

.column-image__suvs {
    width: 45px;
    height: 30px;
    margin: 20px 0 20px 0;
}

.column-image__luxury {
    width: 45px;
    height: 30px;
    margin: 20px 0 20px 0;
}

.column-box__first {
    background-color: var(--bright-orange);
    width: 270px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border-radius: 6px 6px 0 0;
}

.column-box__second {
    background-color: var(--dark-cyan);
    width: 270px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.column-box__third {
    background-color: var(--very-dark-cyan);
    width: 270px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border-radius: 0 0 6px 6px;
}

.column-button__first {
    width: 120px;
    height: 40px;
    border-radius: 18px;
    border-style: none;
    background-color: var(--very-light-gray);
    color: var(--bright-orange);
}

.column-button__second {
    width: 120px;
    height: 40px;
    border-radius: 18px;
    border-style: none;
    background-color: var(--very-light-gray);
    color: var(--dark-cyan);
}

.column-button__third {
    width: 120px;
    height: 40px;
    border-radius: 18px;
    border-style: none;
    background-color: var(--very-light-gray);
    color: var(--very-dark-cyan);
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--very-light-gray);
    text-transform: uppercase;
    font-size: 34px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparent-white);
    font-size: 14px;
    margin-bottom: 20px;
}

.attribution {
    margin: 20px;
}

@media (min-width: 1024px) {
  
    .column-box {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .column-box__first {       
        height: 55vh;
        border-radius: 6px 0 0 6px;
    }

    .column-box__second { 
        height: 55vh;
    }

    .column-box__third {
        height: 55vh;
        border-radius: 0 6px 6px 0;    
    }

    p {
        font-size: 15px;
    } 
    
    :hover.column-button__first,
    :hover.column-button__second,
    :hover.column-button__third {
        background: transparent;
        border: 2px solid white;
        color: white;
        cursor: pointer;
    }

    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}